.components-Summary-description {
  max-width: 300px;
  width: calc(100vw * 16 / 100);
  transition: transform 0.3s ease 0.1s;
  transition: opacity ease 0.5s;
  margin-left: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 60px;
  color: #fff;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
  animation-delay: 0.3s; /* 延迟 0.1s 触发动画 */
}

.components-Summary-icon {
  padding-bottom: 24px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media all and (max-width: 1023px) {
  .components-Summary-description {
    width: 100%;
    max-width: unset;
    padding-bottom: 0px;
    margin-left: 0px;
    align-items: center;
    margin-top: 32px;
    font-size: 18px;
    line-height: 26px;
  }
}
